* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: lightcyan;
}

.body {
  padding: 1%;
  width: 100%;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  flex-wrap: wrap;
  flex-grow: 1;
}

.header > img {
  height: 100px;
  width: 350px;
  min-width: 350px;
  max-width: 400px;
  min-height: 100px;
  max-height: 100px;
}

.header > h1 {
  text-align: center;
}

.header > nav {
  word-spacing: 1em;
}

.main {
  display: flex;
  flex-flow: column wrap;
  margin: 1%;
  align-content: center;
  flex-grow: 1;
}

.main section {
  width: 100vw;
  align-self: center;
  padding: 1%;
}

h2,
h3 {
  text-align: center;
}

table {
  background-color: lightgrey;
  text-align: center;
}

form {
  border: 2px solid lightgrey;
}

iframe {
  width: 100vw;
}

.footer {
  display: flex;
  justify-content: center;
  width: 100vw;
}